<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body ng-app="ezchess">
        <!--[if lt IE 9]>
            <p class="chromeframe"><img src="img/kid_chess_logo.png" style="display:block;"/>Kid Chess apps cannot be played on old versions of Internet Explorer. You are using an <strong>outdated</strong> version of IE. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
        <![endif]-->
        <div class="container-fluid" ng-controller="EZChessCtrl">
            <div class="page-header clearfix">
                <img class="logo" src="img/kid_chess_logo.png"/>
                <span class="title">
                    <h1>EZChess</h1><small class="hidden-xs">See if you can beat the ezchess computer.</small>
                </span>
            </div>

            <div class="alert end-of-game-alert" ng-cloak ng-class="endGameAlertType" ng-show="endGameAlertMessage">
                <span>{{endGameAlertMessage}}</span>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="clock" clock=""
                         format="format"
                         time="oTime"
                         chess-clock="opponent"
                         start="totalTime"></div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="chessboard"
                         nywton-chessboard=""
                         nywton-chessboard-autoresize
                         board="board"
                         validate-moves=""
                         highlight-moves=""
                         random-chess-engine=""></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="clock" clock=""
                         format="format"
                         time="uTime"
                         chess-clock="user"
                         start="totalTime"></div>
                </div>
            </div>

            <div class="menu-options" ng-cloak>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block" ng-click="switchColor()">Play as {{opponentColor}}</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block" ng-click="newGame($event)">Reset</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block" ng-click="undo()">Undo</button>
                </div>
            </div>
        </div>

        <script src="scripts/vendor.js"></script>

        <script src="scripts/plugins.js"></script>

        <script src="scripts/main.js"></script>

    </body>
</html>
