<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body ng-app="monsterChess">
        <!--[if lt IE 9]>
            <p class="chromeframe"><img src="img/kid_chess_logo.png" style="display:block;"/>Kid Chess apps cannot be played on old versions of Internet Explorer. You are using an <strong>outdated</strong> version of IE. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
        <![endif]-->
        <div class="container-fluid" ng-controller="MonsterChessCtrl">
            <div class="page-header clearfix">
                <img class="logo" src="img/kid_chess_logo.png"/>
                <span class="title">
                    <h1>Monster Chess</h1><small class="hidden-xs">Capture all the black pieces on the board like a monster!</small>
                </span>
            </div>
            <div class="alert end-of-game-alert" ng-cloak ng-class="endGameAlertType" ng-show="endGameAlertMessage">
                <div>{{endGameAlertMessage}} <span ng-show="pr && endGameAlertType !== 'alert-info'">and you got a personal best!</span></div>
                <button class="btn btn-primary" ng-click="resetQuestion()" style="margin-right: 10px;">Retry</button><button class="btn btn-success" ng-click="next($event)" ng-show="endGameAlertType !== 'alert-info'">Next</button>
            </div>
            <div class="row clearfix">
                <div class="col-sm-8">
                    <div class="chessboard"
                         nywton-chessboard=""
                         nywton-chessboard-autoresize=""
                         board="board"
                         validate-moves=""
                         highlight-moves=""
                         monster-chess-engine=""
                         on-drop="ondrop"
                         on-snap-end="onsnap"
                         on-change="onchange"></div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default lessons" ng-cloak ng-controller="LessonListCtrl">
                        <div class="panel-heading">{{title}}</div>
                        <button class="btn btn-primary btn-block" ng-show="currentLesson !== null" ng-click="backToLessons()">Back</button>
                        <!-- List for Lessons -->
                        <ul class="list-group" ng-hide="currentLesson !== null">
                            <li class="list-group-item"
                                ng-repeat="lesson in lessons"
                                ng-click="select($index)">
                                    {{lesson.title}}
                            </li>
                        </ul>
                        <!-- List for Questions -->
                        <ul class="list-group" ng-show="currentLesson !== null">
                            <li class="list-group-item"
                                ng-repeat="question in questions"
                                ng-class="{'list-group-item-info': currentQuestion === $index}"
                                ng-click="select($index)">
                                    {{question.title}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default lesson-time" ng-controller="LessonTimerCtrl" ng-cloak="">
                        <div class="time">
                            <span>Time:</span><span class="clock" clock="" start="0" format="format" time="currentTime"></span>
                        </div>
                        <div class="best" ng-show="personalBest">
                            <span>Personal Best:</span><span class="clock"><span>{{personalBest}} sec</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 menu-options">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" ng-click="resetQuestion()">Reset</button>
                    </div>
                    <!--
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block" ng-click="undo()">Undo</button>
                    </div>
                    -->
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <audio autoplay>
            <source src="audio/chessguystart.ogg" type="audio/ogg" />
            <source src="audio/chessguystart.mp3" type="audio/mp3" />
            <source src="audio/chessguystart.wav" type="audio/wav" />
            This browser does not support the audio element.
        </audio>
        <audio id="moveClickAudio">
            <source src="audio/Mwpop.ogg" type="audio/ogg" />
            <source src="audio/Mwpop.mp3" type="audio/mp3" />
            <source src="audio/Mwpop.wav" type="audio/wav" />
        </audio>

        <script src="scripts/vendor.js"></script>

        <script src="scripts/plugins.js"></script>

        <script src="scripts/main.js"></script>

        <!--Script for Google Analytics-->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-1920419-1");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>
        <!--End Google Analytics Script-->
    </body>
</html>
